<div class="banner-aboutus" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://i.imgur.com/55XRMSN.jpg)">
  <h2 class="about-title">About Us</h2>
</div>

<div class="container">
  <div class="row ">
    <div class="col">
      <h4 style="display: flex;justify-content: center;">Our Story</h4>
    </div>

    <div class="col" style ="   display: flex;
    justify-content: space-between;">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe expedita non consectetur,
       ab labore laborum, cupiditate sint quod eligendi deleniti ducimus nesciunt officia autem quos, adipisci nisi illum ea alias.
        cupiditate sint quod eligendi deleniti ducimus nesciunt officia autem quos, adipisci nisi illum ea alias</p>
    </div>
     <div class="col" style ="   display: flex;
    /* align-items: center; */
    justify-content: space-between;">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste optio nam porro, alias, voluptatibus a veritatis blanditiis vitae,
       quis quibusdam provident earum labore. Corporis, corrupti impedit amet distinctio alias laboriosam.
        cupiditate sint quod eligendi deleniti ducimus nesciunt officia autem quos, adipisci nisi illum ea alias</p>
    </div>
  </div>


  <div style="display:flex;align-items: center;
    justify-content: center; ">
    <div class="m-3">
      <%= image_tag('https://i.imgur.com/M6vWXcf.png', style:"height: 500px;")  %>
    </div>
  </div>

  <div style="display:flex;flex-direction: column;
    align-items: center;margin-top: 40px;
    padding: 30px;text-align: center;">
      <h2>Testimonial</h2>
      <p>"Uibusdam provident earum labore. Corporis, corrupti impedit amet <br> distinctio alias
       labore. Corporis,  corrupti impedit amet distinctio<br> alias laboriosam.
        cupiditate sint quod "</p>

  </div>


<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<%= image_tag('https://i.imgur.com/hvDIPgt.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/zY4DLww.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/5dFuAXK.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/Tf6Tt2x.png', style:"height: 100px;")  %>
		</div>
    <div class="slide">
			<%= image_tag('https://i.imgur.com/hvDIPgt.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/zY4DLww.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/5dFuAXK.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/Tf6Tt2x.png', style:"height: 100px;")  %>
		</div>
    <div class="slide">
			<%= image_tag('https://i.imgur.com/zY4DLww.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/5dFuAXK.png', style:"height: 100px;")  %>
		</div>
		<div class="slide">
			<%= image_tag('https://i.imgur.com/Tf6Tt2x.png', style:"height: 100px;")  %>
		</div>
	</div>
</div>



  <div class="banner-aboutus1" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://i.imgur.com/on0Vm8u.jpg)">
  <h4 class="about-title1">Let's work together</h4>
  </div>
</div>
